<div class="main-container">
    <mat-card>
        <div class="logo">
            <p>Fundoo</p>
        </div>
        <header>
            <p>Account recovery</p>
            <p>Enter your registered email</p>
        </header>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="email" [formControl]="email">
            <mat-error *ngIf="email.invalid" >{{ emailErrorMsg() }}</mat-error>
        </mat-form-field>
        <ul class="wrapper">
            <li>
                <button mat-button id="register" routerLink="/register">
                    Register
                </button>
            </li>
            <li>
                <button mat-button type="submit" (click)="sendMail()">
                    Submit
                </button>
            </li>
        </ul>
    </mat-card>
</div>