<div class="color-content">
        <button mat-dialog-close="#ffffff" id="button1" class="color-button"></button>
        <button mat-dialog-close="#faffcc" id="button2" class="color-button"></button>
        <button mat-dialog-close="#82b7e2" id="button3" class="color-button"></button>
        <button mat-dialog-close="#a585b4" id="button4" class="color-button"></button>
        <button mat-dialog-close="#70cf78" id="button5" class="color-button"></button>
        <button mat-dialog-close="#d9adeb" id="button6" class="color-button"></button>
        <button mat-dialog-close="#bd9b9b" id="button7" class="color-button"></button>
        <button mat-dialog-close="#d17878" id="button8" class="color-button"></button>
        <button mat-dialog-close="#df82c3" id="button9" class="color-button"></button>
        <button mat-dialog-close="#72ddeb" id="button10" class="color-button"></button>
        <button mat-dialog-close="#83ad67" id="button11" class="color-button"></button>
        <button mat-dialog-close="#948888" id="button12" class="color-button"></button>
</div>