<div class="label-dialog">
    <div class="title">Edit label</div>
    <div class="create-label">
        <input [formControl]="newLabel" placeholder="Create new label">
        <app-icon-check (click)="createLabel()"></app-icon-check>
    </div>
    <div class="display-label" *ngFor="let singleLabel of allLabels">
        <app-icon-delete (click)="deleteLabel(singleLabel.id)"></app-icon-delete>
        <div class="label-div">{{ singleLabel.label }}</div>
    </div>
    <mat-dialog-actions class="action">
        <button mat-button mat-dialog-close>Done</button>
    </mat-dialog-actions>
</div>