button{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    #upload{
        display: none;
    }
    i {
        font-size: 1.2em;
        color:gray;
        margin: auto;
    }
}

.btn{
    width: 1.7em;
    height: 1.7em;
}

button:hover{
    background-color: #e8eaed;
    i{
        color: #202124;
        opacity: .71;
    }
}