<div class="outer-div">
    <mat-card class="card" *ngIf="!cardOpen" (click)=" cardOpenClose()">
        <mat-card-title class="card-title">
            <input type="text" placeholder="Take a note.." id="title" autocomplete="off">
        </mat-card-title>
    </mat-card>
    <mat-card class="card" *ngIf="cardOpen" [ngStyle]="{'background-color':color}">
        <div id="pin-div">
            <mat-card-title class="card-title">
                <input type="text" [ngStyle]="{'background-color':color}" [formControl]="title" placeholder="Title"
                    id="title" autocomplete="off">
            </mat-card-title>
            <app-icon-pin id="pin-icon" (pin)="setPin($event)"></app-icon-pin>
        </div>
        <img *ngIf="imgUrl != undefined" [ngStyle]="{'background-color':color}" [src]="imgUrl" width="100%" alt="">
        <textarea [formControl]="noteBody" [ngStyle]="{'background-color':color}" cdkTextareaAutosize
            cdkAutosizeMinRows="3" cdkAutosizeMaxRows="25" placeholder="Take a note..."></textarea>
        <div class="additional-info">
            <div id="reminder-div">
                <mat-chip-list class="chip-list" *ngIf="reminder != null">
                    <mat-chip class="chip">
                        {{ reminder }}
                        <!-- <i class="material-icons">close</i> -->
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div id="all-labels">
                <mat-chip-list class="chip-list" *ngFor="let labels of label">
                    <mat-chip class="chip">
                        {{ labels }}
                        <app-icon-cancel id="icon" (click)="removeLabel(labels)"></app-icon-cancel>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <!-- <span *ngIf="reminder != null">{{ reminder }}</span> -->
        </div>
        <mat-card-actions class="action">
            <app-icon-reminder class="icon-component" (reminder)="setReminder($event)"></app-icon-reminder>
            <app-icon-collaborator class="icon-component" (click)="getAllUser()" [matMenuTriggerFor]="colMenu"></app-icon-collaborator>
            <app-icon-palette class="icon-component" (color)="setColor($event)"></app-icon-palette>
            <app-icon-insert-photo class="icon-component" (sendImage)="setImage($event)"></app-icon-insert-photo>
            <app-icon-archive class="icon-component" (archive)="setArchive($event)"></app-icon-archive>
            <app-icon-label class="icon-component" [matMenuTriggerFor]="menu" (click)="getAllLabels()"></app-icon-label>
            <button (click)="cardOpenClose()">Close</button>
        </mat-card-actions>
    </mat-card>
</div>
<app-display-note></app-display-note>

<mat-menu #menu="matMenu" yPosition="below" class="menu">
    <div *ngFor="let singleLabel of allLabel" class="label-div" (click)="$event.stopPropagation()">
        <mat-checkbox labelPosition="after" [checked]="isNoteLabel(singleLabel.label)"
            class="single-lable" (change)="updateLabel($event,singleLabel.label)">
            {{ singleLabel.label }}
        </mat-checkbox>
    </div>
</mat-menu>

<mat-menu class="collaborator-menu" #colMenu yPosition="below">
    <div class="col-div" (click)="$event.stopPropagation()" *ngFor="let collaborator of allUsers">
        <mat-checkbox 
        [checked]="isNoteCollaborator(collaborator.id)"
        (change)="updateCollaborator($event,collaborator.id)">
            {{ collaborator.username }}
        </mat-checkbox>
    </div>
</mat-menu>