<div class="dialog-content">
    <mat-card class="card" [ngStyle]="{'background-color':color}">
        <mat-card-title class="card-title">
            <input type="text" [ngStyle]="{'background-color':color}" [formControl]="noteTitle" placeholder="Title"
                id="title" autocomplete="off" (change)="editTitle()">
            <app-icon-pin id="pin-icon" (pin)="pinNote($event)" [isPin]="pin"></app-icon-pin>
        </mat-card-title>
        <img *ngIf="imgUrl != undefined" [ngStyle]="{'background-color':color}" [src]="imgUrl" width="100%" alt="">
        <textarea [formControl]="noteBody" [ngStyle]="{'background-color':color}" cdkTextareaAutosize
            cdkAutosizeMinRows="5" cdkAutosizeMaxRows="30" placeholder="Add note...." (change)="editBody()"></textarea>
        <div class="additional-info">
            <div id="reminder">
                <mat-chip-list class="chip-list">
                    <mat-chip class="chip" *ngIf="reminder">
                        {{ reminder }}
                    </mat-chip>
                </mat-chip-list>
            </div>
            <div id="all-labels">
                <mat-chip-list class="chip-list" *ngFor="let labels of label">
                    <mat-chip class="chip">
                        {{ labels }}
                        <app-icon-cancel id="icon" (click)="removeLabel(labels)"></app-icon-cancel>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <mat-card-actions class="action">
            <app-icon-reminder class="icon-component" (reminder)="setReminder($event)"></app-icon-reminder>
            <app-icon-collaborator class="icon-component"></app-icon-collaborator>
            <app-icon-palette class="icon-component" (color)="setColor($event)"></app-icon-palette>
            <app-icon-insert-photo class="icon-component"></app-icon-insert-photo>
            <app-icon-archive mat-dialog-close class="icon-component" (archive)="archiveNote($event)">
            </app-icon-archive>
            <app-icon-label class="icon-component" (click)="getAllLabels()" [matMenuTriggerFor]="menu"></app-icon-label>
            <app-icon-trash mat-dialog-close class="icon-component" (trash)="trashNote($event)"></app-icon-trash>
            <button mat-dialog-close>Close</button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-menu #menu="matMenu" yPosition="below" class="menu">
    <div *ngFor="let singleLabel of allLabel" class="label-div" (click)="$event.stopPropagation()">
        <mat-checkbox color="primary" labelPosition="after" [checked]="isNoteLabel(singleLabel.label)"
            class="single-lable" (change)="updateLabel($event,singleLabel.label)">
            {{ singleLabel.label }}
        </mat-checkbox>
    </div>
</mat-menu>