*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mat-toolbar{
    background-color: #202124 ;
    display: flex;
    justify-content: space-between;
    .mat-icon {
        color: #e8eaed;
        font-size: 1.7em;
    }
}
.mat-sidenav-container{
    .mat-sidenav{
        background-color: #202124;
        width: 20%;
        button {
            width:100%;
            height: 10%;
            background-color: #202124 ;
            color: #e8eaed;
            border: none;
        }
    }
}
@media only screen and (max-width:800px){
    .mat-sidenav-container{
        .mat-sidenav{
            width: 95%;
        }
    }
}
