button{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 1.3em;
        color:gray;
        margin: auto;
    }
    
}
.btn{
    width: 1.9em;
    height: 1.9em;
}
button:hover{
    background-color: #e8eaed;
    i{
        color: #202124;
        opacity: .71;
    }
}