<div class="main-container">
    <div class="logo">
        <p>Fundoo</p>
    </div>
    <header>
        <p>Create your Fundoo Account</p>
        <p>to continue to fundoo</p>
    </header>
    <form class="registration-form">
        <ul class="wrapper">
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="first name" [formControl]="first_name">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="last name" [formControl]="last_name">
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="username" [formControl]="username" required>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" [formControl]="email" required>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" [formControl]="password" type="password" required>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="confirm" [formControl]="confirm_password" type="password" required>
                </mat-form-field>
            </li>
            <li>
                <button mat-button id="sign-in">
                    <a href="">Sign in insted</a>
                </button>
            </li>
            <li>
                <button mat-button id="register" type="submit">
                    <a href="">Register</a>
                </button>
            </li>
        </ul>
    </form>
</div>