*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    letter-spacing: .015em;
}

@mixin globalSCSS {
    margin: 0;
    padding: 2% 1%;
}


.main-container{
    width: 90%;
    margin: 0% auto;
    padding: 0% 3%;
    display: grid;
    grid-template-columns:repeat(4,21%);
    grid-gap: 1.2%;
    justify-content: center;
    align-items: start;
    .inner-container{
        display: inline-block;
        // border: 1px solid yellow;
        
    .card{
        @include globalSCSS();
        border: 0.5px solid rgb(221, 220, 220);
        padding: 4%;
        border-radius: 10px;
        box-shadow: none;
        width: 100%;
        &:hover{
            box-shadow: 0px 0px 2px rgb(163, 163, 163);
            .card-footer{
                visibility: visible;
            }
        }
    }
    .card-title{
        @include globalSCSS();
        font-size: 1em;
        margin-bottom: 2%;
    }
    .card-content{
        @include globalSCSS();
        min-height: 7rem;
        max-height: 20rem;
        overflow: hidden;
    }
    .action{
        @include globalSCSS();
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: center;
        span{
           margin: 1%;
           font-size: .8em;
           color: #3c4043;
           background-color: rgb(240, 240, 240);
           padding: 0% 3%;
           
        //    width: 15px;
           height: 15px;
           border-radius: 10px 10px 10px 10px;
        }
    }
    .card-footer{
        margin: 0;
        display: flex, ;
        justify-content: space-between;
        visibility: hidden;
    }
}
}
@media only screen and (max-width:500px){
    .main-container{
        display: grid;
        grid-template-columns:100%;
        grid-gap: .2%;
    }
}