<div [ngClass]="viewClass">
    <div class="inner-container" *ngFor="let note of allNotes">
        <mat-card class="card" [ngStyle]="{'background': note.color}">
            <div id="pin-div">
                <mat-card-title class="card-title" (click)="note.trash?'':openDialogue(note.id)">
                    {{ note.title }}
                </mat-card-title> 
                <app-icon-pin id="pin-icon" [isPin]="note.pin?true:false" 
                 (pin)="pinNote($event,note.id)" *ngIf="!note.trash"></app-icon-pin>
            </div>
            <mat-card-content class="card-content" (click)="note.trash?'':openDialogue(note.id)">
                {{ note.note }}
            </mat-card-content>
            <mat-card-actions class="action">
                <mat-chip-list class="chip-list">
                    <mat-chip class="chip" *ngIf="note.reminder"> {{ note.reminder }} </mat-chip>
                </mat-chip-list>
                <mat-chip-list class="chip-list" *ngFor="let labels of note.label">
                    <mat-chip class="chip" >{{ labels }}</mat-chip>
                </mat-chip-list>
            </mat-card-actions>
            <mat-card-footer class="card-footer">
                <app-icon-reminder class="icon-component" *ngIf="!note.trash" (reminder)="setReminder($event, note.id)"></app-icon-reminder>
                <app-icon-collaborator class="icon-component" *ngIf="!note.trash" [matMenuTriggerFor]="colMenu" (click)="changeCollaborators(note.id,note.collaborators)"></app-icon-collaborator>
                <app-icon-palette class="icon-component" *ngIf="!note.trash" (color)="setColor($event, note.id)"></app-icon-palette>
                <app-icon-insert-photo class="icon-component" *ngIf="!note.trash"></app-icon-insert-photo>
                <app-icon-archive class="icon-component" *ngIf="!note.trash" (archive)="archiveNote($event, note.id)"
                 [isArchive]="note.archives?true:false"></app-icon-archive>
                <app-icon-trash (trash)="trashNote($event,note.id)" class="icon-component" [isTrash]="note.trash?true:false"></app-icon-trash>
                <app-icon-delete *ngIf="note.trash" (click)="deletForever(note.id)" class="icon-component" id="delete-icon"></app-icon-delete>
            </mat-card-footer>

        </mat-card>

    </div>
</div>

<mat-menu class="collaborator-menu" #colMenu yPosition="below">
    <div class="col-div" (click)="$event.stopPropagation()" *ngFor="let collaborator of allUsers">
        <mat-checkbox color="primary" 
        [checked]="isNoteCollaborator(collaborator.id)"
        (change)="updateCollaborator($event,collaborator.id)">
            {{ collaborator.username }}
        </mat-checkbox>
    </div>
</mat-menu>