<div class="main-container">
    <div class="inner-container" *ngFor="let note of allNotes">
        <mat-card class="card" [ngStyle]="{'background': note.color}">
            <div id="pin-div">
                <mat-card-title class="card-title" (click)="openDialogue(note.id)">
                    {{ note.title }}
                </mat-card-title> 
                <app-icon-pin id="pin-icon" *ngIf="note.pin?getPin(note.pin):getPin(note.pin)" [isPin]="isPin" 
                (click)="getId(note.id)" (pin)="pinNote($event)"></app-icon-pin>
            </div>
            <mat-card-content class="card-content">
                {{ note.note }}
            </mat-card-content>
            <mat-card-actions class="action">
                <mat-chip-list class="chip-list">
                    <mat-chip class="chip" *ngIf="note.reminder"> {{ note.reminder }} </mat-chip>
                </mat-chip-list>
                <mat-chip-list class="chip-list">
                    <mat-chip class="chip" *ngFor="let labels of note.label">{{ labels }}</mat-chip>
                </mat-chip-list>
                <!-- <span *ngIf="note.reminder">{{ note.reminder }}</span>
                <span *ngFor="let labels of note.label">{{ labels }}</span> -->
            </mat-card-actions>
            <mat-card-footer class="card-footer">
                <app-icon-reminder class="icon-component" (click)="getId(note.id)" (reminder)="setReminder($event)"></app-icon-reminder>
                <app-icon-collaborator class="icon-component"></app-icon-collaborator>
                <app-icon-palette class="icon-component" (click)="getId(note.id)" (color)="setColor($event)"></app-icon-palette>
                <app-icon-insert-photo class="icon-component"></app-icon-insert-photo>
                <app-icon-archive class="icon-component" (click)="getId(note.id)" (archive)="archiveNote($event)" ></app-icon-archive>

            </mat-card-footer>

        </mat-card>

    </div>
</div>