<div class="main-container">
    <mat-toolbar>
        <button mat-icon-button (click)="opened=!opened">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav 
        [(opened)]="opened"
        mode="side" 
        [fixedInViewport]="true"
        fixedTopGap="64.4">
            <button mat-button (click)="createNote()">Notes</button>
            <button mat-button (click)="openLabel()">Edit Label</button>
            <button mat-button (click)="reminderNote()">Reminder</button>
            <button mat-button >Pin</button>
            <button mat-button >Archives</button>
            <button mat-button >Trash</button>
        </mat-sidenav>
    </mat-sidenav-container>
    <router-outlet></router-outlet>
</div>