<div class="main-container">
    <mat-toolbar>
        <button mat-icon-button (click)="opened=!opened">
            <mat-icon matTooltip="menu" matTooltipPosition="below">menu</mat-icon>
        </button>
        <app-search class="search"></app-search>
        <button matTooltip="grid view" matTooltipPosition="below" mat-icon-button (click)="gridView()" *ngIf="!isGrid">
            <mat-icon>view_module</mat-icon>
        </button>
        <button mat-icon-button matTooltip="list view" matTooltipPosition="below" (click)="listView()" *ngIf="isGrid">
            <mat-icon>view_stream</mat-icon>
        </button>
        <button mat-icon-button (click)="home()">
            <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav [(opened)]="opened" mode="side" [fixedInViewport]="true" fixedTopGap="64.4">
            <div class="items" (click)="createNote()">
                <div class="main-icon">
                    <span class="material-icons-outlined">emoji_objects</span>
                </div>
                <div class="item-txt">Notes</div>
            </div>
            <div class="items" (click)="openLabel()">
                <div class="main-icon">
                    <span class="material-icons-outlined">label</span>
                </div>
                <div class="item-txt">Edit Label</div>
            </div>
            <div class="items" (click)="reminderNote()">
                <div class="main-icon">
                    <span class="material-icons-outlined">add_alert</span>
                </div>
                <div class="item-txt">Reminder</div>
            </div>
            <div class="items" (click)="archivesNote()">
                <div class="main-icon">
                    <span class="material-icons-outlined">archive</span>
                </div>
                <div class="item-txt">Archives</div>
            </div>
            <div class="items" (click)="trashNotes()">
                <div class="main-icon">
                    <span class="material-icons-outlined">delete_outline</span>
                </div>
                <div class="item-txt">Trash</div>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
    <router-outlet></router-outlet>
</div>