*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div{
    width: 30%;
    height: 30%;
    margin: 10% auto;
    padding: 5% 3%;
    mat-card{
        background-color: antiquewhite;
        &>p{
            margin: 2%;
            span{
                color: #1a73e8;
            }
        }
    }
}

@media only screen and (max-width:600px){
    .main-div{
        width: 100%;
    }
}