button{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    i{
        font-size: 0.9em;
        line-height: inherit;
    }
}