<div class="main-container">
    <mat-card>
        <div class="logo">
            <p>Fundoo</p>
        </div>
        <header>
            <p>Change your account password.</p>
        </header>
        <ul class="wrapper">
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password" [formControl]="password" type="password">
                    <mat-error *ngIf="password.invalid">{{ passwordErrorMsg() }}</mat-error>
                </mat-form-field>
            </li>
            <li>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="confirm" [formControl]="confirm_password" type="password">
                    <mat-error *ngIf="confirm_password.invalid">{{ confirm_passwordErrorMsg() }}</mat-error>
                </mat-form-field>
            </li>
            <li>
                <button mat-button id="back" >
                    Back
                </button>
            </li>
            <li>
                <button mat-button type="submit" (click)="onSubmit()"
                [disabled]="!(password.valid && confirm_password.valid)">
                    Confirm
                </button>
            </li>
        </ul>
    </mat-card>
</div>