<div class="main">
    <header>
        <div>
            {{ username.substr(0,2).toUpperCase() }}
        </div>
        <p>
            {{ username }}
        </p>
        <p>
            {{ email }}
        </p>
    </header>
    <footer>
        <button mat-icon-button matTooltip="change password" (click)="changePassword()" mat-dialog-close>
            <mat-icon>vpn_key</mat-icon>
        </button>
        <button mat-icon-button matTooltip="logout" (click)="logout()" mat-dialog-close>
            <mat-icon>logout</mat-icon>
        </button>
    </footer>
</div>